<mat-card>
  <form [formGroup]="form" (submit)="onSaveElement()">
    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="Title" />
      <mat-error *ngIf="form.get('title').invalid">Please enter the title (minimum 3 character length)</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Platform" formControlName="platform" required>
        <mat-option *ngFor="let platform of platforms" [value]="platform" placeholder="Platform">
          {{ platform }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('platform').invalid">Please choose a platform</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        rows="6"
        formControlName="about"
        placeholder="About"
      ></textarea>
      <mat-error *ngIf="form.get('about').invalid">"Please enter the about"</mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit">Save Post</button>
  </form>
</mat-card>
